<% @articles.each do |article| %>
  <div class="card mb-4 img-main rounded-0 border-0 shadow">
    <%= image_tag(article.image_url) %>
    <div class="card-body">
      <%= link_to  article do %>
        <h5 class="card-title titre font-weight-bold"> <%= article.titre %></h5>
      <% end %>
      <span class="badge alert-info text-muted">Mis à jour, il y a <%= time_ago_in_words(article.created_at) %></span>
      <div class="card-text content text-muted mt-3 ">
        <p><%=  truncate(article.contenu,length: 200) %></p>
      </div>
      <hr>
      <div class="text-right text-dark">
        <span class="p-2 titre">  posté le : <%= article.created_at.strftime('%d %B %Y')  %></span>
        <br>
        <small class="text-dark titre bagde badge-light rounded-0 p-2 titre"> <i>par </i><%= article.utilisateur.email %>
        </small>
      </div>
    </div>
  </div>
<% end %>

