<div class="col-lg-6 offset-3">
  <div class="shadow-lg mb-5 bg-white rounded-0 ">
    <div class="card-header text-center titre font-weight-bold lead ">S'identifier</div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs content p-3">
        <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions p-3">
        <%= f.button :submit, "CONNEXION", class:"btn btn-sm btn-outline-secondary rounded-0 mr-1 titre font-weight-bold lead" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>