<!DOCTYPE html>
<html>
  <head>
    <title>Bloggyblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'partials/header'%>
    <div class="container">
      <% if notice%>
        <div class="alert text-success text-center alert-success rounded-0 content"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert text-danger text-center alert-danger rounded-0 content"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
